### CSVファイルの読み込み

In [1]:
#データフレームの作成
import pandas as pd
df=pd.read_csv(".\datafiles\iris.csv")
df.head(3)

   がく片長さ  がく片幅  花弁長さ   花弁幅           種類
0   0.22  0.63  0.08  0.04  Iris-setosa
1   0.17  0.42  0.35  0.04  Iris-setosa
2   0.11  0.50  0.13  0.04  Iris-setosa

In [2]:
#uniqueメソッドで種類別の値を確認
df['種類'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [3]:
syurui = df['種類'].unique()
syurui[0]

'Iris-setosa'

In [4]:
df['種類'].value_counts()

種類
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [5]:
df.tail(3)

     がく片長さ  がく片幅  花弁長さ   花弁幅              種類
147   0.61  0.42   NaN  0.79  Iris-virginica
148   0.53  0.58  0.63  0.92  Iris-virginica
149   0.44  0.42  0.41  0.71  Iris-virginica

In [6]:
df.isnull()

     がく片長さ   がく片幅   花弁長さ    花弁幅     種類
0    False  False  False  False  False
1    False  False  False  False  False
2    False  False  False  False  False
3    False  False  False  False  False
4    False  False  False  False  False
..     ...    ...    ...    ...    ...
145  False  False  False  False  False
146  False  False  False  False  False
147  False  False   True  False  False
148  False  False  False  False  False
149  False  False  False  False  False

[150 rows x 5 columns]

In [7]:
df.isnull().any(axis=0)

がく片長さ     True
がく片幅      True
花弁長さ      True
花弁幅       True
種類       False
dtype: bool

In [8]:
df.isnull().any(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147     True
148    False
149    False
Length: 150, dtype: bool

In [9]:
df.sum()

がく片長さ                                                62.29
がく片幅                                                 65.62
花弁長さ                                                 72.04
花弁幅                                                  66.22
種類       Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

In [10]:
tmp = df.isnull()
tmp.sum()

がく片長さ    2
がく片幅     1
花弁長さ     2
花弁幅      2
種類       0
dtype: int64

In [11]:
df.isnull().sum()

がく片長さ    2
がく片幅     1
花弁長さ     2
花弁幅      2
種類       0
dtype: int64

In [12]:
df2 = df.dropna(how='any',axis =0 )
df2.tail(3)

     がく片長さ  がく片幅  花弁長さ   花弁幅              種類
146   0.56  0.21  0.69  0.46  Iris-virginica
148   0.53  0.58  0.63  0.92  Iris-virginica
149   0.44  0.42  0.41  0.71  Iris-virginica

In [13]:
df.isnull().any(axis=0)

がく片長さ     True
がく片幅      True
花弁長さ      True
花弁幅       True
種類       False
dtype: bool

In [14]:
df2.isnull().any(axis=0)

がく片長さ    False
がく片幅     False
花弁長さ     False
花弁幅      False
種類       False
dtype: bool

In [15]:
df["花弁長さ"] = df['花弁長さ'].fillna(0)
df.tail(3)

     がく片長さ  がく片幅  花弁長さ   花弁幅              種類
147   0.61  0.42  0.00  0.79  Iris-virginica
148   0.53  0.58  0.63  0.92  Iris-virginica
149   0.44  0.42  0.41  0.71  Iris-virginica

In [29]:
df_drop = df.drop("種類", axis=1)
print(df.head(3))
print(df_drop.head(3))

   がく片長さ  がく片幅  花弁長さ   花弁幅           種類
0   0.22  0.63  0.08  0.04  Iris-setosa
1   0.17  0.42  0.35  0.04  Iris-setosa
2   0.11  0.50  0.13  0.04  Iris-setosa
   がく片長さ  がく片幅  花弁長さ   花弁幅
0   0.22  0.63  0.08  0.04
1   0.17  0.42  0.35  0.04
2   0.11  0.50  0.13  0.04

In [20]:
df[["がく片長さ","がく片幅","花弁長さ","花弁幅"]].mean()

がく片長さ    0.420878
がく片幅     0.440403
花弁長さ     0.480267
花弁幅      0.447432
dtype: float64

In [21]:
df["がく片長さ"].mean()

0.42087837837837844

In [22]:
df.std()

TypeError: could not convert string to float: 'Iris-setosa'